.wrapper {
  display: flex;
}

/* Footer */

footer {
  display: inline-block;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: #232222;
  text-align: center;
}

.social {
  width: 30px;
  height: 30px;
  padding: 10px 5px 10px 5px;
  transition: 1s;
}

.social:hover {
  width: 50px;
  height: 50px;
  padding: 0px 5px 0px 5px;
  transition: 1s;
}