@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');

body {
	background: #fcfcfc;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Fonts */

h1 {
	font-size: 40px;
	margin: 0;
	font-family: 'Quicksand';
	font-weight: 300;
	color: #FFFFFF;
	transition: 1s;
}

h2 {
	font-size: 16px;
	margin: 0;
	font-family: 'Quicksand';
	font-weight: 300;
	color: #D1D1D1;
	transition: 1s;
}

h3 {
	font-size: 35px;
	font-family: 'Quicksand';
	font-weight: 500;
	margin: 0 0 40px 0;
	transition: 1s;
}

h4 {
	padding: 0 0 20px 0;
	font-size: 35px;
	font-family: 'Quicksand';
	font-weight: 400;
	text-align: center;
	transition: 1s;
}

h5 {
	font-size: 18px;
	font-family: 'Quicksand';
	font-weight: 500;
	margin: 10px 0;
	transition: 1s;
}

h6 {
	font-size: 17px;
	font-family: 'Quicksand';
	font-weight: 300;
}

p {
	font-family: 'Quicksand';
	font-weight: 400;
	margin: 0;
	font-size: 15px;
}

/* Flexbox */

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row, .flexrow {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-5 {
	flex: 5;
}

/* Navigation */

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: #074484;
}

a:hover {
	color: #2769ad;
}

a.nav {
	font-family: 'Quicksand';
	font-weight: 400;
	font-size: 15px;
}

li.inline {
	list-style: none;
	display: inline-block;
	padding: 15px;
}

li.project {
	list-style: none;
	font-family: 'Quicksand';
	font-size: 15px;
}

nav {
	position: -webkit-sticky; /* Safari */
    position: sticky;
	width: 100%;
	top: 0;
	background: #F9F9F9;
	opacity: .9;
	text-align: right;
	padding: 0;
	transition: 1s;
	margin: 0;

}

ul {
	padding: 0px 10px;
	margin: 0;
}

/* Home */

#home {
	text-align: center;
	width: 100%;
	height: 600px;
	transition: 1s;
	background: #011B2D;   
}

.vertical-center {
	padding: 240px 0 0 0;
}

#anchor {
	width: 40px;
	height: 40px;
	opacity: .7;
}

#anchor:hover {
	opacity: 1;
}

/* About */

#about {
	padding: 30px 40px 70px 40px;
	transition: 1s;
	background: #F9F9F9;
}

.paragraph {
	font-weight: 400;
	font-size: 16px;
	line-height: 2;
	color: #6D6B6B;
}

/* Projects */

#projects {
	padding: 70px 40px;
	transition: 1s;
	background: #FFFFFF;
}

#details {
	padding: 20px 0;
}

.project-information {
	padding: 0 0 0 28px;
}

.right-and-center {
	text-align: right;
}

a.project-buttons {
	padding: 0px 20px;
	font-size: 18px;
	font-family: 'Quicksand';
}

.links-wrapper {
	padding: 20px;
	text-align: center;
}

.decoration {
	color: #f0f0f0;
	font-size: 30px;
	font-weight: 100;
}

/* Data */

input[type="button"] {
	width: 100%;
	height: 225px;
	background: none;
	border: none;
	padding: 5px 0px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

input[type="button"]:hover {
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.2);
}

input[type="button"].p1 {
	background: url("images/projects/1.jpg");
	background-size: 100% 225px;
	transition: 1s;
}

input[type="button"].p2 {
	background: url("images/projects/2.jpg");
	background-size: 100% 225px;
	transition: 1s;
}

input[type="button"].p3 {
	background: url("images/projects/3.jpg");
	background-size: 100% 225px;
	transition: 1s;
}

input[type="button"].p4 {
	background: url("images/projects/4.jpg");
	background-size: 100% 225px;
	transition: 1s;
}

.space-1 {
	margin: 20px 10px 20px 0;
	transition: 1s;
}

.space-2 {
	margin: 20px 5px;
	transition: 1s;
}

.space-3 {
	margin: 20px 0 20px 10px;
	transition: 1s;
}

.p-title {
	display: block;
	font-size: 16px;
	font-family: 'Quicksand';
	font-weight: 500;
	text-align: center;
	transition: 1s;
	padding: 0 0 10px 0;
}

.space-20 {
	padding: 30px 0;
}

/* Slideshow */

.slide-size {
	width: 100%;
	height: 100%;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.page {
	padding: 10px;
	text-align: center;
	border: none;
	font-family: 'Quicksand';
	font-weight: 400;
	background: none;
	color: #0075BA;
	font-size: 14px;
}

.page:hover {
	color: #0075BA;
}

/* Contact */

#contact {
	padding: 70px 40px;
	transition: 1s;
	background: #FAFAFA;
}

.resume {
	text-align: center;
	margin: auto;
}

a.resume-link {
	font-family: 'Quicksand';
	font-weight: 300;
	font-size: 25px;
}

/* Footer */

footer {
	padding: 30px 35px;
	height: auto;
	text-align: center;
	background: #00253B;
}

.logo {
	width: 40px;
	height: 40px;
	margin: 0 7px;
	opacity: .7;
}

.logo:hover {
	opacity: 1;
}

.bone-white {
	font-size: 14px;
	color: #EFEFEF;
}

a.bone-white {
	color: #B2B2B2;
}

a.bone-white:hover {
	color: #FFFFFF;
}

/* Media Queries */

@media screen and (min-width: 1150px) {

  #wrapper {
	max-width: 1150px;
	margin: 0 auto;
	transition: 1s;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  }

  input[type="button"] {
  	font-size: 26px;
	height: 225px;
  }

  input[type="button"].p1, 
  input[type="button"].p2, 
  input[type="button"].p3, 
  input[type="button"].p4  {
  	background-size: 100% 225px;
  }

  footer {
  	padding: 30px 5px 35px 5px;
  }

}

@media screen and (max-width: 1150px) {
 
  .flex-row {
    display: block;
  }

  .project-information {
	padding: 0;
  }

  .space-1 {
	margin: 10px 5px 10px 0;
  }

  .space-2 {
	margin: 10px 5px;
  }

  .space-3 {
	margin: 10px 0 10px 5px;
  }

  input[type="button"] {
  	font-size: 24px;
	height: 200px;
  }

  input[type="button"].p1, 
  input[type="button"].p2, 
  input[type="button"].p3, 
  input[type="button"].p4  {
  	background-size: 100% 200px;
  }

  .link {
  	margin: 20px 0 0 0;
  }

  .right-and-center {
	text-align: center;
  }

  .slide-size {
  	margin: 0 auto;
  	width: 70%;
  	transition: 1s;
  }

  .center-align {
  	text-align: center;
  	width: 100%;
  }

  .resume {
	padding-top: 20px;
  }

}

@media screen and (max-width: 1000px) {
  
  h1 {
  	font-size: 32px;
  	transition: 1s;
  }

  h2 {
  	font-size: 15px;
  	transition: 1s;
  }

  h3, h4 {
	font-size: 30px;
	transition: 1s;
  }

  h5 {
  	font-size: 18px;
  	padding: 10px 0;
  }

  input[type="button"] {
  	font-size: 22px;
	height: 170px;
  }

  input[type="button"].p1, 
  input[type="button"].p2, 
  input[type="button"].p3, 
  input[type="button"].p4  {
  	background-size: 100% 170px;
  }

  a.nav {
	padding: 0 auto;
  }

  li.inline {
	list-style: none;
	display: inline-block;
  }

}

@media screen and (max-width: 850px) {

  input[type="button"] {
  	font-size: 20px;
	height: 140px;
  }

  input[type="button"].p1, 
  input[type="button"].p2, 
  input[type="button"].p3, 
  input[type="button"].p4  {
  	background-size: 100% 140px;
  }

  h1 {
  	padding: 0 10px;
  	transition: 1s;
  }

  h2 {
  	padding: 0 10px;
  	transition: 1s;
  }

  #projects, #about, #contact {
	padding: 70px 25px;
	transition: 1s;
  }

  .space-1 {
	margin: 5px 1px 5px 0;
  }

  .space-2 {
	margin: 5px 1px 5px 1px;
  }

  .space-3 {
	margin: 5px 0 5px 1px;
  }

}

@media screen and (max-width: 700px) {

  input[type="button"] {
  	font-size: 18px;
	height: 130px;
  }

  input[type="button"].p1, 
  input[type="button"].p2, 
  input[type="button"].p3, 
  input[type="button"].p4  {
  	background-size: 100% 130px;
  }

  .p-title {
	font-size: 14px;
	font-weight: 500;
	transition: 1s;
  }

  nav {
	text-align: center;
	margin: 0;
	transition: 1s;
  }

  a.nav {
	transition: 1s;
  }

  .slide-size {
  	margin: 0;
  	width: 100%;
  	transition: 1s;
  }

}

@media screen and (max-width: 550px) {

  input[type="button"] {
  	font-size: 16px;
	height: 75px;
  }

  input[type="button"].p1, 
  input[type="button"].p2, 
  input[type="button"].p3, 
  input[type="button"].p4  {
  	background-size: 100% 75px;
  }

}