@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext,vietnamese');

body {
	margin: 0 auto;
	background: #F2F2F2;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Fonts */

h1 {
	font-size: 50px;
	margin: 0;
	font-family: 'Quicksand';
	font-weight: 300;
	color: #FFFFFF;
}

h2 {
	font-size: 20px;
	margin: 0;
	font-family: 'Quicksand';
	font-weight: 300;
	color: #d1d1d1;
}

h3 {
	font-size: 35px;
	font-family: 'Quicksand';
	font-weight: 500;
	margin: 0 0 40px 0;
}

h4 {
	padding: 0 0 20px 0;
	font-size: 35px;
	font-family: 'Quicksand';
	font-weight: 400;
	text-align: center;
}

h5 {
	font-size: 16px;
	font-family: 'Quicksand';
	font-weight: 500;
	margin: 10px 0;
}

h6 {
	font-size: 16px;
	font-family: 'Quicksand';
	font-weight: 300;
}

p {
	font-family: 'Quicksand';
	font-weight: 400;
	margin: 0;
}

/* Flexbox */

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row, .flexrow {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-5 {
	flex: 5;
}

/* Navigation */

a, a:hover {
	text-decoration: none;
}

a.nav {
	padding: 0px 10px;
	font-family: 'Quicksand';
	font-weight: 400;
	font-size: 15px;
	color: #66727A;
}

a.nav:hover {
	color: #FFFFFF;
}

li.inline {
	list-style: none;
	display: inline-block;
	padding: 10px 5px;
}

li.project {
	list-style: none;
	font-family: 'Quicksand';
}

nav {
	position: fixed;
	padding: 0 45px 0 0;
	width: 100%;
	text-align: right;
}

ul {
	margin: 0;
}

/* Home */

#home {
	text-align: center;
	padding: 270px 0;
	background: #00253B; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(#03314C, #02273D, #011B2D); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#03314C, #02273D, #011B2D); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#03314C, #02273D, #011B2D); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#03314C, #02273D, #011B2D); /* Standard syntax (must be last) */
}

/* Projects */

#projects {
	padding: 80px 30px;
	background: #FFFFFF;
}

.project-information {
	margin: 0 0 0 20px;
}

.sub-title {
	font-size: 16px;
	color: #6D6B6B;
	font-weight: 400;
}

/* Data */

.center {
	text-align: center;
}

input[type="button"].select-project {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	padding: 5px 0;
}

/* Slideshow */

.slide-size {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}

.link {
	padding: 0 20px;
	text-align: center;
	border: none;
	font-family: 'Quicksand';
	font-weight: 400;
}

.link:hover {

}

.p1 {
	margin: 20px 10px 20px 0;
	height: 180px;
}

.p2 {
	margin: 20px 5px 20px 5px;
	height: 180px;
}

.p3 {
	margin: 20px 0 20px 10px;
	height: 180px;
}

/* About */

#about {
	padding: 80px 30px;
	background: #EFEFEF;
}

/* Contact */

#contact {
	padding: 80px 30px;
	background: #EFEFEF;
}

/* Footer */

footer {
	padding: 30px 30px;
	height: auto;
	text-align: center;
	background: #00253B;
}

.logo {
	width: 40px;
	height: 40px;
	margin: 0 7px;
	opacity: .7;
}

.logo:hover {
	opacity: 1;
}

.bone-white {
	font-size: 14px;
	color: #FFFFFF;
	opacity: .7;
}

a.bone-white:hover {
	color: #FFFFFF;
	opacity: 1;
}

/* Media Queries */

@media (max-width: 900px) {
  a.nav {
	padding: 0px 5px;
  }

  nav {
  	position: static;
  	padding: 0;
	text-align: center;
  }

  li.inline {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
  }

  .flex-row {
    flex-direction: column;
  }

  .project-information {
	margin: 0;
  }

  #projects, #about, #contact {
	padding: 80px 10px;
  }

  .link {
	padding: 5px;
  }


  .p1, .p2, .p3 {
	margin: 5px 0;
	height: 80px;
  }


  footer {
  	padding: 30px 10px;
  }
}